.fontsset1{
    /* font-family: Georgia, Verdana, Helvetica */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Links */

a{
    text-decoration: none;
}


/* End of Links */

.nodeco
{
    text-decoration: none;
}

.listfont
{
    font-size: 16px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1e1e1e;
}

.nostyle
{
    list-style: none;
}

.inlineblock
{
    display: inline-block;
}

.leftfloat
{
    float: left;
}

.centered
{
    line-height: 90px;
}

.full
{
    margin: 0;
    padding: 0;
}

.grey
{
    background-color: #eee;
}

.static
{
    position: static;
}

.blockdisplay
{
    display:block;
}

/* To-Do Body */

 .to-do-body{
     display: grid;
     grid: 
     "header header header header header" auto
     "subheader subheader subheader subheader subheader" auto
     ".... lists task .... ...." auto /

     1fr minmax(10vw, 10vw) minmax(30vw, 35vw) minmax(10vw, 10vw) 1fr;
 }

 .title
 {
     margin-left : 4vw;
     grid-area:subheader;
     text-align: left;
     font-size: 40px;
     text-decoration: underline;
     letter-spacing: 0px;
 }

 .all-tasks
 {
     position: relative;
     top: 7vh;
     grid-area: lists;
     font-size: 10px;
     display:ruby-base;
     margin-right: 0.5vh;
 }

 .tasks-list-title
 {
     font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     letter-spacing: 0px;
     text-decoration: underline;
 }
 
 .todo-list
 {
     grid-area: task;
     background-color: lightgrey;
 }

 .task-list 
 {
    font-size: 1.0rem;
    line-height: 3vh;
    list-style: circle;
    cursor:pointer;
    /* overflow: auto; */
    overflow-wrap: break-word;
    margin-right: 2vh;
    margin-left: -1vh;
 }

 .new
 {
     background: transparent;
     border:0px;
     border-bottom: 1px solid;
     outline: none;

     transition: border-bottom 150ms ease-in;
 }

 .list
 {
    width: 7.5vw;
 }

 .list-title
 {
     margin: 1vw;
     overflow-wrap: break-word;
     letter-spacing: 0px;
 }

 .new:focus 
 {
     border-bottom-width: 0.4vh;
 }

 .active-list
 {
     font-weight: 700;
     font-size: 1.2rem;
 }

 form
 {
     display: flex;
 }

 button
 {
     cursor: pointer;
 }

 .todoheader
 {
     font-family:Arial, Helvetica, sans-serif;
     font-size: 25px;
     background-color: rgb(197, 100, 71);
     padding: 1vw;
 }

 .todobody
 {
     position: relative;
     padding: 1vw;
     margin: 0.3vw;
     margin-top: 1vh;
 }

 .btn-list
 {
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 800;
    margin-right: 0.25rem;
    transition: opacity 250ms ease-in;
 }

 .btn-task
 {
     cursor: cursor;
     background: 0;
     border: 0;
     padding: vh;
     font-size: 1.25rem;
     font-weight: 800;
     margin-right: 0.25rem;
     transition: opacity 250ms ease-in;
 }

.btn-task:hover
{
    color:rgb(59, 127, 230);
}

 .btn-delete
{
    font-weight: 500;
    letter-spacing: 0px;
    padding: 0.4vh;
    margin: 1vh 3vh 0 0;
    background: inherit;
    border: 0.1rem solid black;
    border-radius: 4px;

    transition: 150ms ease-in;
}

.btn-delete:hover
{
    background-color: grey;
    color: white;
}

.btn-clear
{
    font-weight: 500;
    letter-spacing: 0px;
    padding: 0.5vh;
    margin: 1vh 8vw 0 0;
    background: inherit;
    border: 0.1rem solid black;
    border-radius: 4px;

    transition: 150ms ease-in;
}


.btn-clear:hover
{
    background-color: grey;
    color: white;
}

[type="checkbox"]
{
    opacity: 0;
    position: absolute;
}

.custom-checkbox
{
    --size: 0.75em;
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    cursor:pointer;
    margin-right: 0.75em;
    border: 2px solid currentColor;
    border-radius: 50%;

    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox
{
    transform: scale(1.2);
    color: rgb(59, 127, 230);
}

[type="checkbox"]:checked + label .custom-checkbox
{
    background: #EF7C00;
    border : 2px solid black;
}

[type="checkbox"]:checked + label
{
    opacity: 1.0;
}

[type="checkbox"]:checked + label::after
{
    transform: scaleX(1);
} 

.name
{
    display: inline-block;
}

.addtask
{
    font-size: 15px;
    margin: 0 1vw 1vh;
    display: inline-block;
}

.taskContent
{
    margin-bottom: 1vh;
}

.name
{
    overflow: auto;
}

.task label
{
    display: flex;
    align-items:center;
    position:relative;
    margin-bottom: 2.5rem;
}

.task
{
    position: relative;
    font-size: 20px;
    margin: 1vh 0 1.5vh 1vw;
}

.task::after
{
    content: "";
    position:absolute;
    right: 0;
    left: 0;
    bottom: -1.2rem;
    height: 0.2vh;
    background: black;
    opacity: 0.14;
}

.deadline
{
    color: grey;
    font-size: 13px;
    font-weight: bold;
    margin-top: -3vh;
}

.delete-tasks
{
    display:flex;
    position: absolute;
    justify-content: center;
    padding: 1vw;
    width: 100%;
    left: 0;
    margin-top: 1vh;
}

.option-btn
{
    border: none;
    background-color: inherit;
    cursor: pointer;
    position: relative;
    float: right;
    bottom: 8vh;
}

.option-btn:hover
{
    color: slategrey;
}

.popout
{
    display: none;
    width :100%;      
    height : 100%;      
    background : rgba(50,50,50,0.2);      
    position : fixed;      
    top : 0; 
    left: 0;      
    z-index : 100; 
}


.popout .popout-content
{
    position: absolute;
    left: 31vw;
    top: 32.5vh;
    width: 38vw;
    height: 35vh;
    padding: 1vw;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 1.00);
    opacity: 100%;
    border-width: 1vw;
    z-index: 105;
    border: 1px solid black;
    box-shadow: 1vh 1vh grey;
    text-align: center;
    overflow: auto;
}

.edit-task
{
    overflow: auto;
    z-index: 200;
}

.errorPopout
{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(136, 133, 133, 0.267);
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 0px;
}

.errorPopout-content
{
    position: relative;
    width: 25vw;
    height: 20vh;
    padding: 0.5vw;
    border-radius: 10px;
    opacity: 100%;
    border-style:groove;
    border-width: 1vw;
    z-index: 102;
    border: 1px solid black;
    background-color: white;
    box-shadow: 1vh 1vh grey;
}

.close-btn
{
    font-size: 14px;
} 

.cancel-btn
{
    position: absolute;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1vh;
    margin-left: 1vw;
}

.nameInput input
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 1vh;
    border: 1px solid #ccc;
    box-shadow: 0.5vh 0.5vh grey;
}

.nameInput label
{
    display: inline-block;
}

.dateInput 
{
    margin-left: -2vh;
}

.dateInput input
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 1vh;
    border: 1px solid #ccc;
    box-shadow: 0.5vh 0.5vh grey;
}

.dateInput label
{
    display: inline-block;
}

.edit-task form
{
    display: block;
}

.save-btn
{
    margin-top: 0;
    border: 1px solid black;
    border-radius: 15px;
    background: none;
    padding: 1vh 2vh;
    box-shadow: 0.3vh 0.3vh slategrey;
    cursor: pointer;

    transition-duration: 200ms;
}

.save-btn:hover
{
    background: black;
    color: white;
}